<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" href="/images/isotipo-greevic.ico">
</head>

<body>
  <div class="backgorund-gradient">
    <div class="logo-start">
      <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1583144378/Greevic/logo-greevic-white_xkd4ef.png"
        alt="logo-greevic">
      <br>
      <p class="subtext">Would you like to start?</p>
      <a class="button" href="/home">E N T E R</a>
    </div>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>

</body>

</html>