<div class="backgorund-gradient">
  <div>
    <img src="../public/images/oops.png" alt="error">
    <p class="subtext">Error! There was an error on the server! Check the console!</p>
    <a class="button" href="/home">Go back!</a>
  </div>
  <div>
    <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1583150801/Greevic/error-sticker_pzwrz0.png"
      class="error-sticker" alt="error-sticker">
  </div>
</div>