<main>
  <header>
    <h1>Languages for everyone</h1>
    <h2>Your Platform to learn new languages with Movies</h2>
  </header>

  <section class="container">
    <h3>It's simple!</h3>
    <div class="section-1">
      <article class="article">
        <h4>Choose the language</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus massa et lacus mollis viverra.</p>
        <div class="icons">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
        </div>
      </article>
      <article class="article">
        <h4>Choose the genre</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus massa et lacus mollis viverra.</p>
        <div class="icons">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
        </div>
      </article>
      <article class="article">
        <h4>Start learning!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus massa et lacus mollis viverra.</p>
        <div class="icons">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
          <img src="./images/greevic-logo.png" alt="logo" width="33.3%">
        </div>
      </article>
    </div>
  </section>

  <section class="container bg-section-2">
    <h3>Have not you tried it?</h3>
    <div class="section-1">
      <article class="article">
        <img src="./images/greevic-logo.png" alt="logo" width="50%">
        <h4>Start this adventure</h4>
        <a class="button" href="/signup">SIGN UP</a>
      </article>
      <article class="article">
        <img src="./images/greevic-logo.png" alt="logo" width="50%">
        <h4>Hello adventurer!</h4>
        <a class="button" href="/login">LOGIN</a>
      </article>
    </div>
  </section>
</main>