<main>
  <header>
    <h1>Languages for everyone</h1>
    <h2>Your Platform to learn new languages with Movies</h2>
  </header>

  <section class="container">
    <h3>It's simple!</h3>
    <div class="section-1">
      <article class="article">
        <h4>Choose the language</h4>
        <p>Do you feel like learning Spanish, Italian or Korean? Just choose the language and start this adventure!</p>
        <div class="icons">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582917909/Greevic/uk_akbjvk.png" alt="logo"
            width="33.3%">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582917909/Greevic/sp_hmkysc.png" alt="logo"
            width="33.3%">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582917909/Greevic/it_uefbdl.png" alt="logo"
            width="33.3%">
        </div>
      </article>
      <article class="article">
        <h4>Choose the genre</h4>
        <p>If you want to learn a new language with your favourite movie genre, just choose it. You won't regret!</p>
        <div class="icons">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582917909/Greevic/romance_afa0lf.png" alt="logo"
            width="33.3%">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582919452/Greevic/dramatic_kdra1l.png"
            alt="logo" width="33.3%">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582919452/Greevic/comedy_lks4uu.png" alt="logo"
            width="33.3%">
        </div>
      </article>
      <article class="article">
        <h4>Start learning!</h4>
        <p>You can comment anything on any film and help others. They can help you too. Don't ever stop learning!</p>
        <div class="icons">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582919966/Greevic/play_m7kuew.png" alt="logo"
            width="33.3%">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582919966/Greevic/pause_olylfa.png" alt="logo"
            width="33.3%">
          <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582919966/Greevic/learn_pbnli4.png" alt="logo"
            width="33.3%">
        </div>
      </article>
    </div>
  </section>

  <section class="container bg-section-2">
    <h3>Haven't you tried it?</h3>
    <div class="section-2">
      <article class="article">
        <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582917909/Greevic/singup_c3ay9j.png" alt="logo"
          width="50%">
        <h4>Start this adventure</h4>
        <a class="button" href="/signup">SIGN UP</a>
      </article>
      <article class="article">
        <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1582917909/Greevic/login_yiippm.png" alt="logo"
          width="50%">
        <h4>Hello adventurer!</h4>
        <a class="button" href="/login">LOGIN</a>
      </article>
    </div>
  </section>
</main>