<div class="backgorund-gradient">
  <div>
    <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1583150799/Greevic/oops_ql4245.png" alt="error">
    <p class="subtext">404 Error. This route does not exist on the app! Check if everything is ok!</p>
    <a class="button" href="/home">Go back!</a>
  </div>
  <div>
    <img src="https://res.cloudinary.com/dul90jusb/image/upload/v1583150801/Greevic/error-sticker_pzwrz0.png"
      class="error-sticker" alt="error-sticker">
  </div>
</div>