<section class="container">
  <h2>{{foundObjFromId.username}} Info</h2>
  <ul>
    <li>Name: {{foundObjFromId.username}} </li>
    <li>Email: {{foundObjFromId.useremail}}</li>
  </ul>
  <a class="button" href="/edit">Edit my user</a>
</section>