<section class="container">
  <div class="width-forms center">
    <h2>Hello, <span class="user-name">{{foundObjFromId.username}}</span>.</h2>
    <h3>This is your private info</h3>
    <p class="form-control">Your Name: {{foundObjFromId.username}} </p>
    <p class="form-control">Your Email: {{foundObjFromId.useremail}}</p>
    <p class="account-message">Would you like to edit your details?</p>
    <a class=" button" href="/edit-account">Edit my account</a>
  </div>
</section>