/* In common
$rosa: #F207A0;
$morado-claro: #685E8C;
$morado-oscuro: #595173;
$marron: $A64F03;
*/
/*Paleta de Colores*/
$naranja: #f28705;

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.body-section {
  padding: 25px 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $naranja;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  left: 0;
  p {
    margin-bottom: 0px;
  }
}
