/*Paleta de Colores*/
body {
  font: 100% "Poppins", sans-serif;
  color: #333;
  background-color: #f5f5f5; }

h2 {
  text-align: center; }

select {
  height: 35px; }

/*BUTTONS*/
button,
.button {
  background-color: #f168c1;
  padding: 10px 40px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  color: #fff; }
  button:hover,
  .button:hover {
    background-color: #f207a0; }

a.button,
a:not([href]).button {
  color: #fff; }
  a.button:hover,
  a:not([href]).button:hover {
    text-decoration: none;
    color: #fff; }

/*MENU*/
.bg-light {
  background-color: #685e8c !important; }

ul.navbar-nav.mr-auto {
  margin-right: 0px !important;
  margin-left: auto; }

a.nav-link {
  color: #fff !important; }
  a.nav-link:hover {
    color: #f28705 !important; }

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #f28705, #685e8c);
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  left: 0; }
  footer p {
    margin-bottom: 0px;
    color: #fff; }

/*HOME*/
header {
  height: 50vh;
  background-image: linear-gradient(45deg, rgba(166, 79, 3, 0.4), rgba(89, 81, 115, 0.4)), url("https://res.cloudinary.com/dul90jusb/image/upload/v1582912594/Greevic/myke-simon-atsUqIm3wxo-unsplash_iskqty.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  header h1 {
    color: #fff; }
  header h2 {
    color: rgba(255, 255, 255, 0.7);
    text-align: center; }

.container {
  padding: 40px 50px; }
  .container h3 {
    text-align: center; }

.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0px; }

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  text-align: center; }

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center; }

.bg-section-2 {
  background-color: #685e8c;
  padding: 40px 0px 80px;
  max-width: 100%;
  color: #fff; }
  .bg-section-2 .section-1 {
    justify-content: center;
    width: 60%;
    margin: auto; }
    .bg-section-2 .section-1 h4 {
      margin: 20px 0px; }

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px 0px;
  background-color: rgba(242, 135, 5, 0.5);
  border-radius: 10px; }

#movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff; }
  #movies .card {
    width: 46%;
    margin: 2%;
    border-radius: 30px;
    box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
    background-color: #595173;
    cursor: pointer; }
    #movies .card:hover {
      background-color: rgba(104, 94, 140, 0.85); }
    #movies .card h3 {
      text-align: center;
      color: #f28705;
      font-size: 22px; }
    #movies .card a {
      color: #fff;
      text-decoration: none; }
    #movies .card .movie-image {
      width: 100%;
      background-size: cover;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px; }
    #movies .card .card-text {
      text-align: center;
      padding: 15px 30px;
      border-radius: 30px; }
    #movies .card p {
      font-size: 15px; }
    #movies .card .average {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }

.cardMax {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .cardMax .col-card {
    width: 46%;
    margin: 2%; }
    .cardMax .col-card .movie-image {
      width: 100%;
      box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75); }

/*Width Forms*/
.width-forms {
  width: 50%;
  margin: auto; }

/*User style*/
.user-name {
  color: #f168c1; }

/*# sourceMappingURL=style.css.map */